n8n_workflows/3_ats_cv_generator.json
{
  "name": "3 - ATS CV Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ats-generate",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-ats-generate",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "ats-generate"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a CV Writer Expert. Based on the user's original CV, write an ATS-friendly version of the CV.\n\nRules:\n1. WRITE THE ENTIRE CV IN ENGLISH (convert Indonesian sections/words to standard English recruitment terms).\n2. Use a clean, structured layout in markdown.\n3. IMPORTANT: Always place a '---' (three hyphens) line on the line immediately following every '## Section Name' heading (e.g.,\n## PROFESSIONAL SUMMARY\n---\n) to create horizontal dividers in the document.\n4. Highlight transferable skills and achievements relevant to the target job if provided.\n5. Use relevant keywords for ATS optimization.\n6. Output ONLY the optimized CV content. Do NOT add any introduction, explanations, or target job sections.\n7. IMPORTANT: Do NOT include any \"Target Job\", \"Target Salary\", or target company information in the output CV. The target job context provided is ONLY for you to tailor the tone, profile summary, and highlight relevant transferable skills (e.g. communication, project management, leadership, sales) in the user's CV."
            },
            {
              "role": "user",
              "content": "=Original CV:\n\n{{ $json.body.cv_text }}\n\n--- TARGET JOB CONTEXT (FOR TAILORING KEYWORDS & SUMMARY ONLY - DO NOT COPY OR INCLUDE THIS SECTION IN THE OUTPUT CV) ---\n{{ $json.body.target_job ? \"Target Position: \" + $json.body.target_job.job_title + \"\\nTarget Company: \" + $json.body.target_job.company_name + \"\\nJob Description: \" + $json.body.target_job.job_description : \"No target job specified (optimize generally).\" }}"
            }
          ]
        },
        "options": {
          "temperature": 0.4,
          "maxTokens": 3000
        }
      },
      "id": "openai-ats-generate",
      "name": "OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [500, 300],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.message.content } }}"
      },
      "id": "respond-ats-generate",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "JobMatch AI"
    }
  ]
}
