n8n_workflows/4_career_consultant.json
{
  "name": "4 - Career Consultant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "career-chat",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-career-chat",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "career-chat"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Kamu adalah Career Consultant AI yang berpengalaman. Tugasmu adalah membantu user mendiskusikan karir dan cita-cita mereka.\n\nKonteks: User telah meng-upload CV mereka. Berdasarkan CV tersebut, bantu mereka:\n1. Memahami posisi karir mereka saat ini\n2. Mengeksplorasi cita-cita dan tujuan karir\n3. Mengidentifikasi skill gap dan cara mengatasinya\n4. Merekomendasikan langkah-langkah konkret untuk mencapai tujuan\n5. Memberikan insight tentang tren industri yang relevan\n\nRules:\n- Jawab dalam Bahasa Indonesia (kecuali user berbicara dalam Bahasa Inggris)\n- Bersikap supportive dan encouraging\n- Berikan saran yang spesifik dan actionable\n- Tanyakan pertanyaan follow-up untuk memahami user lebih baik\n- Jangan menghakimi pilihan karir user"
            },
            {
              "role": "user",
              "content": "=[KONTEKS: Berikut CV saya untuk referensi]\n\n{{ $json.body.cv_text }}"
            },
            {
              "role": "assistant",
              "content": "Terima kasih sudah berbagi CV kamu! Saya sudah membacanya. Silakan ceritakan tentang cita-cita atau tujuan karir yang ingin kamu capai."
            },
            {
              "role": "user",
              "content": "={{ $json.body.user_message }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1500
        }
      },
      "id": "openai-career-chat",
      "name": "OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [500, 300],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.message.content } }}"
      },
      "id": "respond-career-chat",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "JobMatch AI"
    }
  ]
}
